
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db